body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}


.container {
  width: 600px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
}


h1 {
  color: #333;
}


.user-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}


button:hover {
  background: #1d4ed8;
}


.events {
  padding: 0;
}


.events li {
  list-style: none;
  background: #f1f5f9;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
}


.loading {
  text-align: center;
  margin-top: 100px;
}

.button-group{
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
}


.form-group label {
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input {
  padding: 8px;
  font-size: 16px;
}